[submodule "AIND-DogBreedClassifier"]
	path = AIND-DogBreedClassifier
	url = https://github.com/sherif-abdelkarim/AIND-DogBreedClassifier
[submodule "AIND-RNN"]
	path = AIND-RNN
	url = https://github.com/sherif-abdelkarim/AIND-RNN
[submodule "AIND-Sudoku"]
	path = AIND-Sudoku
	url = https://github.com/sherif-abdelkarim/AIND-Sudoku
[submodule "AIND-Simulated_Annealing"]
	path = AIND-Simulated_Annealing
	url = https://github.com/sherif-abdelkarim/AIND-Simulated_Annealing
[submodule "AIND-Recognizer"]
	path = AIND-Recognizer
	url = https://github.com/sherif-abdelkarim/AIND-Recognizer
[submodule "AIND-Planning"]
	path = AIND-Planning
	url = https://github.com/sherif-abdelkarim/AIND-Planning
